<body>
  <header>
    <%= render "shared/header" %>
  </header>

  <main id="site-content">
    <div class="top">
      <div class="top-text" style="max-width: 1120px;">
        <h1 class="title">
          <%= @lodge.lodge_name %>
        </h1>
      </div>
      <div class="top-area">
        <section class="where-lodge">
          <%= @lodge.prefecture_city %>
        </section>
      </div>
    </div>

    <div class="center">
      <div class="row">
        <% @lodge.images.each do |image| %>
          <%= image_tag image, class:'col'%>
        <% end %>
      </div>
    </div>
    
    <div class="under">
      <div class="container">
        <h4 class="child1-title center mt-5 mb-3" style="font-size: 25px;">宿について</h4>
        <%= @lodge.description %>
      </div>
      <div class="container">
        <h4 class="child1-title center mt-5 mb-3" style="font-size: 25px;">お問い合わせ</h4>
        <i class="fas fa-phone center"><%= @lodge.phone%> </i>
      </div>

      <div class="container mt-5">
        <h4 class="child1-title center mt-5 mb-2" style="font-size: 25px;">地図</h4>
        <div class="row">
          <div id="map" class="col"></div>
        </div>
      </div>
    </div>

    <% if host_user_signed_in? && current_host_user.id == @lodge.host_user_id %>
      <%= link_to '宿の編集', edit_lodging_path(@lodge.id), method: :get, class:"edit-btn" %>
      <%= link_to '削除', lodging_path(@lodge.id), method: :delete, class:"lodge-delete" %>
    <% end %>
  </main>


  <footer>©️ Kanako Kurasawa2020</footer>

  <script type="text/javascript">
  function googleMap() {
    'use strict';
    var map = document.getElementById('map');
    var geocoder = new google.maps.Geocoder();

    geocoder.geocode({ address: '<%= @lodge.prefecture_city%>', region: 'jp'}, function(results, status){

      if (status === 'OK' && results[0]) {
        new google.maps.Map(map, {
          center: results[0].geometry.location,
          zoom: 12
        });
      } else {
        alert('失敗しました。 理由:' + status);
        return;
      }
    });
  }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAP_KEY']%>&callback=googleMap"></script>
</body>
